<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thmeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>


</head>
<body>
<div layout:fragment="content" class="container mySpace">
	     <form action="/courses" class="form-inline">
	        <div class="form-group mb-2">
				<select class="custom-select">
			      <option selected="">Select by Course Number</option>
			    </select>
  
	        </div>
	     </form>
		<div class="card">
			<div class="card card-body">
				<table class="table table-hover">
					<thead>
						<tr  class="table-primary">
							<th scope="col">Course Number</th>
							<th scope="col">Course Name</th>
							<th scope="col">Department</th>
							<th scope="col">Description</th>
							<th scope="col">Semester Offered</th>
							<th scope="col">Number of Student</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-active" th:each="course:${courses}">
							<td th:text="${course.course_id}"></td>
							<td th:text="${course.course_name}"></td>
							<td th:text="${course.course_depart}"></td>
							<td th:text="${course.description}"></td>
							<td th:text="${course.semester_offer}"></td>
							<td >0</td>
						</tr>
					</tbody>

				</table>
			</div>
		</div>
	</div>	
</body>
</html>