<!DOCTYPE html>
<html xmlns:th="http://www.thmeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thmeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>


</head>
<body>
<div layout:fragment="content" class="container mySpace">
	     <form action="/programs" class="form-inline">
	        <div class="form-group mb-2">
				<select class="custom-select">
			      <option selected="">Select by program name</option>
			   			    </select>
  
	        </div>
	     </form>
		<div class="card">
			<div class="card card-body">
				<table class="table table-hover">
					<thead>
						<tr  class="table-success">
							<th  scope="col">Program Code</th>
							<th  scope="col">Program Name</th>
							<th  scope="col">Program Type</th>
							<th  scope="col">Number of Student(s)</th>
						</tr>
					</thead>
					<tbody>
						<tr class="table-active" th:each="program:${programs}">
							<td th:text="${program.program_code}"></td>
							<td th:text="${program.program_name}"></td>
							<td th:text="${program.program_type}"></td>
							<td></td>
							 
						</tr>
					</tbody>

				</table>
			</div>
		</div>

		
	</div>	
</body>
</html>